
header {
    background-color:rgba(249,63,251,1);
    color:000000;
}

footer {
    background-color:rgba(249,63,251,1);
    color:f93ffb;
}

h1 {
    color:000000;
}

.highlight {
    padding-left: 1rem;
    margin-left: -10rem;
    padding-right: 1rem;
    margin-right: -10rem;
    background-color: radial-gradient(circle, rgba(249,63,251,1) 0%, rgba(70,86,252,1) 87%);
}

body {
        font-family: Arial,sans-serif;
	/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
        background: radial-gradient(circle, rgba(249,63,251,1) 35%, rgba(70,86,252,1) 87%);
	height: 100%;
}
