:root {
    --couleur-primaire : #07357d;

}

body {
    font-family: Arial,sans-serif;
}

.highlight {
    padding-left: 1rem;
    margin-left: -10rem;
    padding-right: 1rem;
    margin-right: -20rem;

}